<nz-layout class="app-layout">
  <div class="app-works" *ngIf="!isLoggedIn; else appTemp">
    <app-login></app-login>
  </div>
  <ng-template #appTemp>
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
        <a href="https://ng.ant.design/" target="_blank">
          <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
          <h1>Ant Design Of Angular</h1>
        </a>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item nzMatchRouterExact>
          <a routerLink="/admin/dashboard">Dashboard</a>
        </li>
        <li nz-submenu nzTitle="Users" nzIcon="user">
          <ul>
            <li nz-menu-item nzMatchRouterExact="/admin/users">
              <a routerLink="/admin/users">Manage Users</a>
            </li>
            <li nz-menu-item *ngIf="user && user.role == 'admin'" nzMatchRouterExact="/admin/users/add-new">
              <a routerLink="/admin/users/new">Add new user</a>
            </li>
          </ul>
        </li>
<!--        <li nz-submenu nzTitle="Settings" nzIcon="setting">-->
<!--          <ul>-->
<!--            <li nz-menu-item nzMatchRouterExact>-->
<!--              <a routerLink="/admin/profile">Settings</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
        <li nz-submenu nzTitle="Profile" nzIcon="user">
          <ul>
            <li nz-menu-item nzMatchRouterExact>
              <a routerLink="/admin/profile">Your profile</a>
            </li>
            <li nz-menu-item nzMatchRouterExact>
              <a (click)="logoutUser()">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </ng-template>
</nz-layout>
