<div class="login-form-wrapper" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
  <nz-card style="width:300px;">
    <img class="login-form-wrapper__logo" src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
    <div class="form-group">
      <input nz-input placeholder="Enter email" [(ngModel)]="userModel.email" />
    </div>
    <div class="form-group">
      <nz-input-group [nzSuffix]="suffixTemplate">
        <input
          [type]="passwordVisible ? 'text' : 'password'"
          nz-input
          placeholder="input password"
          [(ngModel)]="userModel.password"
        />
      </nz-input-group>
      <ng-template #suffixTemplate>
        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
      </ng-template>
    </div>
    <button nz-button [nzLoading]="isLoading" nzType="primary" (click)="loginUser()">Default Button</button>

  </nz-card>
</div>
